
/* header start here================ */
header {
    background-color: #174370;
    padding: 25px 0;
    position: sticky;
    z-index: 1;
    top: 0;
  }
  
  .header,
  .header ul {
    display: flex;
    justify-content: space-between;
  }
  
  .header .navbar {
    width: 49%;
  }
  
  .header .callNavbar {
    width: 21%;
  }
  
  .header .callNavbar a {
    font-size: 15px;
  }
  
  .header .callNavbar li:nth-child(2)::after,
  .header .callNavbar li:nth-child(2)::before {
    content: "|";
    color: #fff;
    padding: 0 10px;
  }
  
  .header ul a {
    color: #fff;
    font-size: 13px;
  }
  
  .header ul a:hover {
    color: #44b7ff;
  }
  
  .mobileNavbar{
    color: #fff;
    font-size: 30px;
    display: none;
    cursor: pointer;
}

.mobileNavbar .mobileNavbarIcon[name="close"]{
    display: none;
}
  /* header end here================== */

  /* responsivehere======================start============ */
  @media only screen and (max-width: 1115px) {
    .header .navbar {
        width: 60%;
      }
      
      .header .callNavbar {
        width: 30%;
      }
  }

  @media only screen and (max-width: 995px) {
    .header .callNavbar {
      width: 50%;
    }
    header{
        position: relative;
    }
    .mobileNavbar{
        display: block;
        z-index: 1;
    
    }
    .navbar{
        width: 100% !important;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #174370;
        left: 0;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .header .navbarList {
        flex-direction: column;
    }
    .header .navbarList li{
        padding: 10px 0;
    }

    .active .navbar{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobileNavbar .mobileNavbarIcon[name="close"]{
        display: block;
    }

    .active .mobileNavbar .mobileNavbarIcon[name="menu"]{
        display: none;
    }
  }
  /* responsivehere========================end========== */